**Importing dataset directly from kaggle**

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
!mkdir ~/.kaggle

In [3]:
!cp kaggle.json ~/.kaggle/

In [4]:
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle competitions download -c acm-sf-chapter-hackathon-small

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv.zip to /content
  0% 0.00/1.19M [00:00<?, ?B/s]
100% 1.19M/1.19M [00:00<00:00, 39.9MB/s]
Downloading train.csv.zip to /content
  0% 0.00/1.82M [00:00<?, ?B/s]
100% 1.82M/1.82M [00:00<00:00, 118MB/s]
Downloading popular_skus.csv.zip to /content
  0% 0.00/3.51k [00:00<?, ?B/s]
100% 3.51k/3.51k [00:00<00:00, 7.69MB/s]
Downloading small_product_data.xml.zip to /content
  0% 0.00/1.10M [00:00<?, ?B/s]
100% 1.10M/1.10M [00:00<00:00, 148MB/s]
Downloading popular_skus.py to /content
  0% 0.00/1.62k [00:00<?, ?B/s]
100% 1.62k/1.62k [00:00<00:00, 1.69MB/s]

In [6]:
!unzip /content/train.csv.zip

Archive:  /content/train.csv.zip
  inflating: train.csv

In [7]:
!unzip /content/test.csv.zip

Archive:  /content/test.csv.zip
  inflating: test.csv

**Importing Libraries**

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
dataset = pd.read_csv('train.csv')
validation_data = pd.read_csv('test.csv')

In [10]:
dataset.head(4)

                                       user  ...               query_time
0  0001cd0d10bbc585c9ba287c963e00873d4c0bfd  ...  2011-10-09 17:21:42.917
1  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:35:33.234
2  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:35:33.234
3  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:37:00.049

[4 rows x 6 columns]

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42365 entries, 0 to 42364
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user        42365 non-null  object
 1   sku         42365 non-null  int64
 2   category    42365 non-null  object
 3   query       42365 non-null  object
 4   click_time  42365 non-null  object
 5   query_time  42365 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.9+ MB

In [12]:
validation_data.head(4)

                                       user  ...               query_time
0  00025eb02b249434554fe2cacd8562db325df127  ...  2011-09-02 13:04:34.633
1  00033dbced6acd3626c4b56ff5c55b8d69911681  ...  2011-09-25 13:37:58.382
2  000548d17532b70071b7d59edd4797aed1823c60  ...  2011-09-16 17:33:43.237
3  0006f15231a422156a9d005735d0969a5e5a0ac4  ...  2011-10-09 11:14:33.692

[4 rows x 5 columns]

In [13]:
validation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28241 entries, 0 to 28240
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user        28241 non-null  object
 1   category    28241 non-null  object
 2   query       28241 non-null  object
 3   click_time  28241 non-null  object
 4   query_time  28241 non-null  object
dtypes: object(5)
memory usage: 1.1+ MB

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset.iloc[:,3:4]= le.fit_transform(dataset.iloc[:,3:4])

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
x = dataset.iloc[:,3:4].values
y = dataset.iloc[:,1].values

In [16]:
print(x)

[[4446]
 [1419]
 [1419]
 ...
 [ 256]
 [  67]
 [1904]]

In [17]:
print(y)

[2032076 9854804 2670133 ... 3046603 2340293 2953607]

**Splitting the dataset**

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.25,random_state=0)

***Decision Tree Classifier***

In [19]:
from sklearn.tree import DecisionTreeClassifier
classifier1 = DecisionTreeClassifier(criterion = 'entropy',random_state=0)
classifier1.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [20]:
from sklearn.metrics import accuracy_score
y_pred1 = classifier1.predict(x_test)
accuracy_score(y_test,y_pred1)

0.6203738670694864

***Random Forest Classifier***

In [21]:
from sklearn.ensemble import RandomForestClassifier
classifier2 = RandomForestClassifier(n_estimators= 100, criterion = 'entropy', random_state=0)
classifier2.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [22]:
from sklearn.metrics import accuracy_score
y_pred2 = classifier2.predict(x_test)
accuracy_score(y_test,y_pred2)

0.620845921450151